<template name="devices">
	<div class="main-panel-container devices">
		<form name="device-form" id="device-form" class="ui form">
			<h3>Device Name</h3>
			<div class="ui three column grid">
				<div class="column">Last Updated: {{device.lastUpdate}}</div>
				<div class="column">Battery Level: {{device.battLevel}}</div>
				<div class="column">Firmware Version: {{device.version}}</div>
			</div>

			<br/>

			<div class="field">
			    <label>Daily Goal Progress</label>
			    <label class="subtext">Get notified when you reach your goal</label>
			    <select class="ui dropdown" name="goal_progress">
			    	<option selected="{{isEqual goal_progress 'steps'}}" value="steps">Steps</option>
			    	<option selected="{{isEqual goal_progress 'distance'}}" value="distance">Distance</option>
			    	<option selected="{{isEqual goal_progress 'calories'}}" value="calories">Calories Burned</option>
			    	<option selected="{{isEqual goal_progress 'floors'}}" value="floors">Floors Climbed</option>
				</select>
			</div>

			<br />
			
			<div class="three fields">
			    <div class="field">
			   		<label>Quick View Gesture</label>
			    	<label class="subtext">Bring your Surge up to a viewing position to activate.</label>
				    <select class="ui dropdown" name="quick_view">
				    	<option selected="{{isEqual quick_view 'on'}}" value="quick_view_on">On</option>
				    	<option selected="{{isEqual quick_view 'off'}}" value="quick_view_off">Off</option>
					</select>
			    </div>
			    <div class="field">
			   		<label>Dominant Hand</label>
			    	<label class="subtext">Which hand do you wear your surge on?</label>
				    <select class="ui dropdown" name="dominant_hand">
				    	<option selected="{{isEqual dominant_hand 'dominant'}}" value="dominant">Dominant</option>
				    	<option selected="{{isEqual dominant_hand 'nondominant'}}" value="nondominant">Non-dominant</option>
					</select>
			    </div>
				<div class="field">
			   		<label>Heart Rate</label>
			    	<label class="subtext">Set heart rate measuring frequency.</label>
				    <select class="ui dropdown" name="heartrate_frequency">
				    	<option selected="{{isEqual heartrate_frequency 'on'}}" value="heartrate_frequency_on">On</option>
				    	<option selected="{{isEqual heartrate_frequency 'off'}}" value="heartrate_frequency_off">Off</option>
				    	<option selected="{{isEqual heartrate_frequency 'auto'}}" value="heartrate_frequency_auto">Auto</option>
					</select>
			    </div>
			</div>
		</form>
	</div>
</template>	