<template name="personal_info" >
	<div class="main-panel-container">
		<p>Personal Info</p>
		<p class="profile-photo"></p> 
		<form>
			<table>
				<tr>
					<td> Email Address </td>
					<td> victoli.d@gmail.com</td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" name="text" placeholder="" /></td>
				</tr>
				<tr>
					<td>Nickname</td>
					<td><input type="text" name="text" placeholder="" /></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><textarea name="textarea" style="height:50px;"></textarea></td>
				</tr>
				<tr>
					<td>About Me</td>
					<td><textarea name="textarea" style="height:50px;"></textarea></td>
				</tr>

			</table>
		</form>
	</div>
	{{> body_stats}}
</template>	
